body{
    display: flex;
    justify-content: center;
}
main {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input-area{
    display: flex;
    width: 300px;
    height: auto;
    flex-flow: column;
    align-items: center;
}
textarea{
    resize: none;
    width: 250px;
    height: 100px;
    margin-bottom: 10px;
}
input{
    width: 200px;
    height: 24px;
    margin-bottom: 10px;
}
button{
    width: 100px;
    margin-bottom: 10px;
}

#images{
    display: flex;
    width: 300px;
    overflow-x: scroll;
}
#images *{
    width: 50px;
}

.haiku-wrap{
    display: flex;
    justify-content: center;
    width: 600px;
    height: 500px;
}
#canvas{
    display: none;
}

